---
import type { ItemGrid as Props } from '~/types';
import { twMerge } from 'tailwind-merge';
import Button from './Button.astro';

const { items = [], columns, classes = {} } = Astro.props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  action: actionClass = '',
} = classes;

const gridColsClass: Record<number, string> = {
  2: 'sm:grid-cols-2',
  3: 'lg:grid-cols-3 sm:grid-cols-2',
  4: 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2',
};
const gridClass = gridColsClass[columns as keyof typeof gridColsClass] ?? '';
---

{
  (items?.length ?? 0) > 0 && (
    <div class={twMerge('grid mx-auto gap-8 md:gap-y-12', gridClass, containerClass)}>
      {items.map(({ title, description, callToAction, classes: itemClasses = {} }) => (
        <div class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
          <div class={twMerge('flex flex-row max-w-md', panelClass, itemClasses?.panel)}>
            <div class="mt-0.5">
              {title && <h3 class={twMerge('text-xl font-bold', titleClass, itemClasses?.title)}>{title}</h3>}
              {description && (
                <p
                  class={twMerge(`${title ? 'mt-3' : ''} text-muted`, descriptionClass, itemClasses?.description)}
                  set:html={description}
                />
              )}
              {callToAction && (
                <div class={twMerge(`${title || description ? 'mt-3' : ''}`, actionClass, itemClasses?.actionClass)}>
                  <Button variant="link" {...callToAction} />
                </div>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  )
}
